<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('includes/head') %>
  <title><%=title%></title>
</head>

<body id="page-top">
  <!-- Navigation-->
  <%-include('includes/nav')%>
  <!-- Signup-->
  <section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 mx-auto text-left">
          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white text-center mb-5">Register!</h2>
          <form class="form-signup" id="contactForm" action="/signup" method="POST">
            <% if(typeof(message) != "undefined") {%>
            <h4 style="color: #fd0101"><%-message%></h4>
            <% } %>

            <div class="row input-group-newsletter">
              <div class="col-6">
                <input class="form-control" id="firstName" type="text" name="firstName" placeholder="First Name" aria-label="Enter firstName..." <% if(typeof(body) !==
                  "undefined" ) {%> value="<%-body.firstName%>" <%}%> /> <%
                  if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.firstNameMsg%></span>
                <% } %>
              </div>
              <div class="col-6">
                <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Last Name..." aria-label="Enter last name..." <% if(typeof(body) !==
                  "undefined" ) {%> value="<%-body.lastName%>" <%}%> /> <%
                  if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.lastNameMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <div class="row input-group-newsletter">
              <div class="col">
                <input class="form-control" id="address" type="text" name="address" placeholder="Enter Your Address" aria-label="Enter address..." <% if(typeof(body) !==
                  "undefined" ) {%> value="<%-body.address%>" <%}%> /> <%
                  if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.addressMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <div class="row input-group-newsletter">
              <div class="col-7">
                <input class="form-control" id="city" type="text" name="city" placeholder="Enter city..." aria-label="Enter city..." <%
                  if(typeof(body) !== "undefined" ) {%> value="<%-body.city%>" <%}%> /> <% if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.cityMsg%></span>
                <% } %>
              </div>

              <div class="col-5">
                <input class="form-control" id="postcode" type="text" name="postcode" placeholder="Postcode" aria-label="Enter post code..." <% if(typeof(body) !==
                  "undefined" ) {%> value="<%-body.postcode%>" <%}%> /> <%
                  if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.postcodeMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <!-- Email address input-->
            <div class="row input-group-newsletter">
              <div class="col">
                <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Enter email" aria-label="Enter email address..." <% if(typeof(body) !==
                  "undefined" ) {%> value="<%-body.email%>" <%}%> /> <%
                  if(typeof(errors) != "undefined") {%> <span style="color: red"><%-errors.emailMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <div class="row input-group-newsletter">
              <div class="col">
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter password..." aria-label="Enter password..." />
                <% if(typeof(errors) != "undefined") {%>
                <span style="color: red"><%-errors.passwordMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <div class="row input-group-newsletter">
              <div class="col">
                <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password..." aria-label="Confirm Password..." />
                <% if(typeof(errors) != "undefined") {%>
                <span style="color: red"><%-errors.cpasswordMsg%></span>
                <% } %>
              </div>
            </div>
            <div class="space"></div>

            <div>
              <div class="col-auto">
                <button class="btn btn-primary" id="submitButton" type="submit" name="signup-btn">
                  Register!
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <%-include('includes/footer')%>
</body>

</html>
